{% extends "layout.html" %}


{%block body %}
<div class = sidenav>

    <img src="../static/logo2.png" alt='logo' style= "width:230px;height:150px; padding-left: 5px; padding-top: 10px;">
    <h2>
    <form name= check_user_form action="/check_user" onsubmit="validate();" method="post">


        <span style="display:inline-block">
            <label for ="Email_" style="display:block">Email Address</label>
            <input name = "Email_" placeholder="Bob"  id = 'Email_id' required >
        </span>
        <br> 
        <span style="display:inline-block">
            <label for ="Password_" style="display:block">Password</label>
            <input name = "Password_" placeholder="*******"  type="password" id = 'Password_id' required >
        </span>
        <br> 
       
        <input type="submit" value="Login">

            
    </form>
    </h2>
</div>

<div class=content>
<h2>
        GESCO CSCW Tool
</h2>   

Please provide your login data and click on submit

<div onclick="location.href='/returnhome';" class="shape_yellow">
    Return to Home
</div>
</div>




{% endblock %}