{% extends "layout.html" %}



{% block body %}

<div class="container">
    
    <div class="toppane">
    <h1>
            Workspace
    </h1>

    </div>

    <div class="leftpane">
        <h2>
        Colaborators
        </h2>
        <br>
        - James
        <br>
        - Ana
        <br>
        - Alice
        <br>
    </div>
    <div class="middlepane">
    <h1>
        Project Overview
    </h1>
    + TODO
    <br>
    -- Print the final version

    <br>
    -- Last Review
    <br>
    + In-Progress
    <br>
    -- Investigation of tools
    <br>
    -- Acquiring the hardware
    <br>
    + Concluded    
    
    <br>
    -- Literature Research
    <br>
    -- Understand the Requirements
    </div>
    <div class="rightpane">
      
    <h1>Chat</h1>
    <br>
    - Alice: Hey have you guys finished the task? <br>
    - James: Yes, I am submiting it now :)
    
    </div>
  </div>


{% endblock %}
