{% extends "layout.html" %}


{%block body %}
<div class = content>

    <h2>
    <form name= create_user_form action="/create_user" onsubmit="validate();" method="post">


        <span style="display:inline-block">
            <label for ="Username_" style="display:block">Name</label>
            <input name = "Username_"  id = 'Username_id' required >
        </span>
        <br> 
        <span style="display:inline-block">
            <label for ="ROLE_" style="display:block">Role</label>
            <input name = "Role_"  type="role" id = 'role_id' required >
        </span>
        <br>
        <br> 
        <span style="display:inline-block">
            <label for ="Email_" style="display:block">Uni Email Address</label>
            <input name = "Email_"  type="email" id = 'email_id' required >
        </span>
        <br> 
        <br> 
        <span style="display:inline-block">
            <label for ="Password_" style="display:block">Password</label>
            <input name = "Password_"  type="password" id = 'Password_id' required >
        </span>
        <br> 
       
        <input type="submit" value="Sign up">

            
    </form>
    </h2>
</div>

<div class=sidenav>
    <img src="../static/logo2.png" alt='logo' style= "width:230px;height:150px; padding-left: 5px; padding-top: 10px;">
<h2>
        GESCO Sign up
</h2>   

Please enter your data

<div onclick="location.href='returnhome';" class="shape_yellow">
    Return to Home
</div>
</div>




{% endblock %}