{% extends "layout.html" %}



{% block body %}
<div class="content">
<div class="main_text">

<h1>
Here are your Projects

</h1>

</div>

<br>

<br>

<br>


<div onclick="location.href='project';" class="shape">
    Project 1
</div>


<div onclick="location.href='project';" class="shape">
    Project 2
</div>

<div onclick="location.href='project';" class="shape">
    Project 3
</div>



<div onclick="location.href='work_in_progress';" class="shape_yellow">
    Create New Project
</div>

<div onclick="location.href='work_in_progress';" class="shape_yellow">
    Delete Existing Project
</div>




</div>
{% endblock %}
